@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root{
    --main-color: #BFCFE7;
    --text-color: #F8EDFF;
    --bg-color1: #3D3B40;
    --bg-color2: #525CEB;
    --color-00: #0000001a;
    
    /* Extra */

    --color-01: #999999;
    --color-02: #009539;
    --color-03: #7950f2;
    --color-04: #c00000;
    --color-05: #232323;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}


html {
    font-family: "Lato", sans-serif;
    font-size: 16px;
}


body{
    background: var(--bg-color1);
    color: var(--text-color);
}


header {
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 1.1rem;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
background-color: var(--bg-color1);

}

.logo{
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}

.nav-responsive {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--bg-color1);
}

.nav a, .nav-responsive a {
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    transition: .4s;

 
}

.nav a:hover, .nav-responsive a:hover {
    color: var(--main-color);
}

section {
    min-height: 100vh;
    padding: 6rem 6rem 2rem;

   
}

span {
    color: var(--main-color);
}

.home, .about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.home-img {
    border-right: solid 1rem; 
    border-bottom: solid 1rem; 
    border-image: linear-gradient(135deg, transparent 50%, var(--bg-color2)) 1; 
    width: 30%; 
    height: auto; 
}

.about-img {
    border-left: solid 1rem; 
    border-bottom: solid 1rem; 
    border-image: linear-gradient(225deg, transparent 50%, var(--bg-color2)) 1; 
    width: 30%; 
    height: auto; 
}

.home-img img, .about-img img {
    width: 100%;

}

.about {
    background-color: var(--bg-color1);
}

.home-content, .about-content {
    width: 45%;

}

.home-content h3, .about-content h3 {
    font-weight: 700;
    line-height: 1.3;
    font-size: 1.6rem;
    

}

.home-content h1, .about-content h1 {
    font-weight: 700;
    font-size: 2.7rem;
    
}

.home-content p, .about-content p {
    margin-top: 1.2rem;
    text-align: justify;

}

.services h2,
.portfolio h2,
.contact h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.services-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



.services-container, .services-box {
    padding: 2.2rem 3rem 2.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: solid 0.15rem var(--main-color);
    background-color: var(--bg-color1);
    transition: 0.5s ease;
   
}

.services-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 5rem;
    margin-bottom: 1rem;
    gap: 1rem; 
    padding: 1rem; 
    margin: 1rem;  
}



.services-container, .services-box:hover {
    border-color: var(--bg-color2);
    transform: scale(1.01);
}

.services-box i {
    font-size: 4rem;
    color: var(--text-color);
}

.services {
    background-color: var(--bg-color2);
}

.services-box h3 {
    font-size: 1.5rem;
}

.services-box p {
    margin: 0.5rem;
    letter-spacing: 0.1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.portfolio {
    background-color: var(--bg-color2);
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 1.2rem; 
    justify-content: space-between; 
}

.portfolio-box {
    flex: 1 1 calc(33.33% - 1.2rem); 
    position: relative;
    border-radius: 0.6rem;
    box-shadow: 0 0 0.6rem var(--text-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.portfolio-box img {
    width: 100%;
    transition: 0.5s ease; 
    
}

.portfolio-box img:hover {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, black); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(30rem); 
    transition: transform 0.5s ease; 
}


.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 1.8rem;
}

.portfolio-layer p {
    margin: 0.2rem 0 0.5rem; 
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 1.2rem;
    color: var(--bg-color2);
}

form {
    max-width: 45rem;
    margin: 0.6rem auto;
    text-align: center;
    margin-bottom: 2rem;

}

form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

form .input-box input,
form textarea {
width:100%;
padding: 1rem;
font-size: 1rem;
color: var(--text-color);
background-color: var(--color-00);
border-radius: 0.5rem;
margin: 0.4rem 0;

}

form textarea {
    resize: none;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    background-color: var(--bg-color2);
}

.social-media img{
    width: 3.5rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: solid 0.15rem var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 1.8rem 0.5rem;
    transition: 0.5s ease;
}

.social-media a:hover {
    background-color: var(--main-color);
    color: var(--bg-color1);
    box-shadow: 0 0 0.3rem var(--main-color);
}


.btn {
    display: inline-block;
    padding: 0.7rem 1.8rem;
    background-color: var(--bg-color2);
    border-radius: 2rem;
    color: var(--text-color);
    font-weight: 700;
    letter-spacing: 0.1rem;
    transition: 0.3 ease;
    margin-top: 1.2rem;
}

.btn:hover {
    box-shadow: 0 0 0.3rem var(--text-color);
    background-color: inherit;
    color: var(--main-color);
}

.menu-hamburguer {
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 2rem;
    height: 0.3rem;
    background-color: var(--text-color);
    margin: 0.4rem 0;
    transition: 0.3s ease;
}

.change .bar1 {
    transform: translate(0, 0.65rem) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -0.65rem) rotate(45deg);
}

@media (max-width: 576px) {
    .menu-hamburguer {
        display: block;
    }

    .nav {
        display: none;
    }

    .nav-responsive a {
        display: block;
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }

    section {
        padding: 6rem 2.5rem;
    }

    .home, .about {
        flex-direction: column;
        gap: 1.2rem;
    }

    .home-img, .about-img {
        width: 80%;
        max-width: 80%;
    }

    .home-content, .about-content {
        width: 100%;
    }

    .home-content div {
        text-align: center;
    }

    .home-content h1, .about-content h1{
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3;
    }

    .services-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px; /* Mantém algum espaço ao redor do conteúdo */
    }
    
    .services-box {
        width: 100%; /* O bloco ocupa 100% da largura disponível */
        max-width: 600px; /* Limita a largura máxima para melhorar a legibilidade */
        margin-bottom: 15px; /* Espaçamento entre os blocos */
        padding: 20px; /* Espaçamento interno */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destacar os blocos */
        border-radius: 8px; /* Bordas arredondadas para um visual mais moderno */
        background-color: var(--bg-color1); /* Fundo branco para destaque */
    }
    
    .services-box p {
        text-align: justify; /* Justifica o texto para um layout mais uniforme */
        font-size: 14px; /* Tamanho de fonte menor para reduzir o comprimento do bloco */
        line-height: 1.5; /* Reduz um pouco o espaçamento entre linhas */
    }
    
    
    
    .home-img, .about-img {
        width: 65%;
        max-width: 65%;
    }


        .portfolio-container {
            flex-direction: column; 
            gap: 1rem; 
            justify-content: center;
            align-items: center;
        }
    
        .portfolio-box {
            width: 100%; 
            margin-bottom: 1rem; 
            max-width: 100%; 
        }
    
        .portfolio-box img {
            width: 100%;
        }
    
        .portfolio-box .portfolio-layer {
            padding: 0 1.5rem; 
            transform: translateY(20rem); 
        }
    
        .portfolio-box img:hover {
            transform: none; 
        }
    }
    
@media (min-width: 768px) {

    .menu-hamburguer {
        display: none;
    }

    .nav {
        display: block;
    }

    .nav-responsive, .nav-responsive a {
        display: none;
    }

    .home, .about {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .home-img, .about-img {
        max-width: 35%;
    }

    .home-content, .about-content {
        width: 50%;
    }

    /* .services-container {
        flex-direction: column;
        align-items: center;

    } */

    .services-box {
        width: 60%;
        margin-bottom: 2rem;
    }

    .portfolio-container {
        grid-template-columns: auto auto auto;
    }

    form .input-box input {
        width: 49%;

    }

}

@media (min-width: 992px) {

    /* .home-img, .about-img {
        max-width: 35%;
    } */


    .services-container {
        flex-direction: row;
        gap: 1.2rem;
    }
}

@media (min-width: 1200px) {

    .home-img, .about-img {
        max-width: 25%;
    }

    .home-content h1 {
        font-size: 2.7rem;
    }

    .home-content h3 {
        font-size: 2rem;
    }

    .portfolio-container {
        grid-template-columns: auto auto auto;
    }
}

